.pt12 {
  padding-top: 12px;
}
.rtnFlight {
  background-color: rgb(255, 252, 199);
  padding: 8px 15px 7px;
  border-radius: 80px;
}
.userEdit {
  font-size: 30px;
  color: red;
}
.box3row2 {
  color: rgb(102, 102, 102);
  font-size: 1rem;
}
.promoHead {
  color: rgb(2, 203, 102);
  font-size: 12px;
}
.promoDesc {
  color: rgb(153, 153, 153);
  font-size: 12px;
}
