.cursor-pointer {
  cursor: pointer;
}
.mt82 {
  margin-top: 82px;
}
.fs15 {
  font-size: 15px;
}
.eCash-chevron {
  font-size: 10px;
  margin-left: 100px;
}
.fs-10 {
  font-size: 10px;
}
.leftpanel-box {
  margin: 0px;
  padding: 0px;
  background-color: rgb(238, 238, 238);
}
.user-circle {
  font-size: 85px;
  color: lightgray;
}
.loginDet {
  background-color: rgb(254, 234, 184);
  padding: 9px;
}
.inner-loginDet {
  background-color: rgb(254, 242, 216);
  padding: 9px;
}
.login-infoColor {
  color: rgb(247, 107, 56);
}
.payment-background,
.bg-lightgray {
  background-color: lightgray;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-12 {
  font-size: 12px;
}
.fs-35 {
  font-size: 35px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}
.fs-1rem {
  font-size: 1rem;
}
.payment-logo {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
.user-logo {
  font-size: 35px;
  color: rgb(243, 79, 79);
}
.sq-pen {
  font-size: 30px;
  color: rgb(243, 79, 79);
}
.ml-50 {
  margin-left: 50px;
}
.fighter-jet-logo {
  font-size: 26px;
  color: gray;
}
.border-inset {
  border-left: 1px inset;
}
.invoice-logo {
  font-size: 15px;
  color: rgb(243, 79, 79);
}
.text-grey {
  color: lightgray;
}
.flight-banner {
  background: linear-gradient(to right, rgb(183, 36, 58), rgb(19, 37, 34));
  color: white;
}
.fs-26 {
  font-size: 26px;
}
.banner-font {
  font-size: 0.71429rem;
  font-family: Rubik-Medium;
}
.banner-font-value {
  font-size: 1.14286rem;
  font-family: Rubik-Medium;
}
.box-shadow {
  box-shadow: rgb(255, 162, 162) 0px 2px 4px 0px;
}
.sort-box {
  background-color: rgb(229, 231, 235);
  border-radius: 3px;
  margin-left: 7px;
}
.sort-option {
  cursor: pointer;
  font-size: 0.78571rem;
}
.flight-box {
  background-color: rgb(229, 231, 235);
  border-radius: 5px;
  margin-left: 7px;
  font-size: 0.78571rem;
  font-weight: 500;
}
.text-blue {
  color: blue;
}
.br-5 {
  border-radius: 5px;
}
.br-1 {
  border-radius: 1px solid lightgrey;
}
.bl-3 {
  border-left: 3px solid lightgrey;
  height: 60px;
}
.w-40 {
  width: 40px;
}
.w-45 {
  width: 45px;
}
.flight-logo {
  width: 28px;
  height: 28px;
  border-radius: 5px;
}
.flight-name {
  font-size: 0.92857rem;
  font-family: Rubik-Regular;
}
.flight-code {
  font-size: 0.78571rem;
  font-family: Rubik-Regular;
  color: rgb(153, 153, 153);
}
.flight-time {
  font-size: 1.07143rem;
  font-family: Rubik-Regular;
  font-weight: 400;
}
.flight-duration {
  font-size: 0.78571rem;
  font-family: Rubik-Regular;
}
.fare-details {
  background-color: rgb(90, 66, 109);
}
.ticket-logo {
  width: 40px;
  border-radius: 6px;
}
