body {
  font-family: "Rubik-Regular", "Arial, Helvetica, sans-serif";
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
}
.navbar {
  background-color: #fdfbfb;
  font-family: Times New Roman, Times, serif;
  min-width: 978px;
}
.brand {
  height: 39.5px;
  width: 88px;
  display: inline-block;
  background-size: 88px 39.5px;
}
.icon-header {
  font-weight: 400;
  color: #666;
  max-width: 30px;
  font-size: 14px;
  font-family: Times New Roman, Times, serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn1 {
  padding: 14px;
  font-size: 14px;
  border: none;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.yt-header-drop-down-text {
  font-size: 0.9em;
  color: #636363;
  letter-spacing: 0 !important;
}
.pgLogIn,
.pgSignUp {
  cursor: pointer;
  line-height: 2.3 !important;

  text-align: center;
  margin-bottom: 10px;
  height: auto;
}
.pgLogIn {
  background-color: #ea2330 !important;
  color: white;
  border: 0px;
  padding: 1px 5px;
}
.pgSignUp {
  background-color: #fff;
  color: #ea2330 !important;
  margin-left: 15px;
  padding: 0 !important;
  border: 1px solid #ea2330 !important;
  width: 100%;
}
.promo-image {
  height: 100%;
  width: 100%;
}
.smooth-banner-transition {
  transition: all 0.2s ease;
  width: 500px;
  overflow: hidden;
  border-right: 1px solid #e4e4e4;
  box-shadow: 0 0 25px rgb(0 0 0 / 30%);
  background: #fff;
  border-radius: 6px;
  z-index: 10;
  margin: 50px 0 30px;
  color: #333;
  font: normal 1em/18px Rubik, sans-serif;
  line-height: 1;
  font-size: 14px;
}
.be-container-snipe-active {
  border-radius: 4px;
  color: #f34f4f;
  border: 1px solid #f34f4f;
}

.be-container-snipe,
.be-container-snipe-active {
  font-size: 0.71429em;
  padding: 7px 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.be-container-snipe {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.gtyupi {
  color: #999;
  -webkit-transform: translateY(-30px) scale(0.75);
  transform: translateY(-30px) scale(0.75);
  font-weight: 400;
  top: 32px;
  margin-bottom: 8px;
}
.yt-input-text {
  background-color: transparent !important;
  padding: 10px 15px 10px 0;
  text-transform: capitalize;
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  color: #333;
  outline: 0;
  z-index: 9;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  border-radius: 0;
  font: normal 1.143em/20px Rubik, sans-serif;
  overflow: hidden;
}
.yt-booking-engine-snipe {
  position: relative;
  top: 30px;
  height: 32px;
  padding: 7px 6px;
  border-radius: 50%;
  border: 1px solid #ea2330;
  width: 32px;
  display: block;
  left: 2px;
}
.date-text {
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
}
.traveller-text {
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
}
.yt-booking-engine-snipe-button {
  width: auto;
  border-radius: 4px;
  background: #ea2330;
  padding: 12px 35px 12px 15px !important;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff !important;
  cursor: pointer;
  font-weight: 500;
  min-height: 50px;
  text-align: left;
  font-size: 14px !important;
}
.react-calendar {
  margin-top: 12px;
  width: 350px;
  max-width: 100%;
  background: #fff;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 0 25px rgb(0 0 0 / 30%);
  border: 0 !important;
}
.fc-day {
  background-color: red;
}
.ticketType-active {
  color: red;
}
.ticketType {
  color: black;
}
.return-calendar-none {
  display: none;
}
.bold {
  font-family: "Rubik-Medium";
  font-weight: 400;
}

.btn-submit {
  padding: 11px 22px 10px 22px;
  background-color: #f34f4f;
  color: #fff;
  border-radius: 4px;
  border: 0;
}
.fs-14 {
  font-size: 1rem;
}
#abc,
#abc10 {
  font-family: Rubik-Medium;
}

#abc {
  font-size: 1.14286rem;
}
#abc10 {
  font-size: 0.71429rem;
}
.hover {
  color: #ff0000;
}
.expand {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #666;
  font-size: 0.92857rem;
}
.box1 {
  transition: box-shadow 0.3s;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
  margin-bottom: 40px;
}
.deal {
  border-bottom: 1px solid #e2e2e2;
  padding: 6px 10px;
  font-family: "Rubik-Regular";
}
.deal .deal-tag {
  padding: 2px 3px;
  color: #fff;
  border-radius: 2px;
  max-width: 28px;
  height: auto;
  background: #36c24d;
  font-family: "Rubik-Medium";
  font-size: 0.57143rem;
}
.deal .content {
  width: 85%;
  color: #666;
  font-size: 0.85714rem;
}
.flight-det {
  margin-top: 5px;
}
#book {
  font-size: 1rem;
  border-radius: 4px;
  font-family: Rubik-Medium;
  border: 2px solid #f34f4f;
  color: #f34f4f;
  cursor: pointer;
  background-color: white;
}
.yt-row-footer {
  font-size: 12px;
  color: #3691ca;
  cursor: pointer;
  font-size: 0.85714rem;
  text-decoration: none;
}
#rect,
#rect1 {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
}

#rect {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}
#rect1 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffd302;
  border: 1px solid #d3d3d3;
}
.boxShadow {
  box-shadow: 0px 0px 3px 2px #4169e1;
}
.flight-details {
  color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  font-family: "Rubik-Regular";
}
.flight-details .header {
  background: #301b41;
  padding: 7px 16px 13px;
  opacity: 0.9;
  font-family: "Rubik-Medium";
  font-size: 1.14286rem;
}
.flight-details .contents {
  color: #333;
  padding: 20px 0 10px;
  border-bottom-left-radius: 6px;
  background: #fff;
}

.font-lightestgrey {
  color: #999;
}

.hr-row {
  border-bottom: 2px solid #9c9c9c;
}
.flight-details .amen-details {
  padding: 5px 25px;
  background: #f9f9f9;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
}
#img1 {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
.fs8,
.fs9 {
  font-family: Rubik-Regular;
}
.fs9 {
  font-size: 1.07143rem;
  font-weight: 400;
}
.fs8 {
  font-size: 10px;
}
.box-title {
  margin: 0 0 0.7143rem;
  padding: 0;
  font-size: 1.429rem;
  -webkit-text-decoration: double;
  text-decoration: double;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-family: "Rubik-Medium";
}
.bookingBackground {
  background-color: #e2e2e2;
  min-width: 978px;
}
#box2 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}
.fs-base {
  font-size: 1rem;
}
.fs-24 {
  font-size: 1.714rem;
}

.gray-dark {
  color: #333;
}
.lh28 {
  line-height: 22px;
  padding-bottom: 6px;
}
.fs11 {
  font-size: 0.8571rem;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
.no-padding-margin {
  padding: 0;
  margin: 0;
}
.gray-lightest {
  color: #d5d5d5;
}
.two-dots {
  line-height: 0;
  margin-top: 13px !important;
  margin-bottom: 13px !important;
  position: relative;
  text-align: center;
  color: #999;
}
#ic1 {
  font-size: 16px;
  color: #d3d3d3;
}
.type-text {
  background: #fff;
  padding: 0 5px;
  font-size: 0.8571rem;
  font-style: normal;
  position: relative;
  top: -1px;
}
.note-block-new {
  position: relative;
  background: #fffcc7;
  border: 1px solid #fffcc7;
  border-radius: 3px;
  padding: 8px 10px;
}
.fs-sm {
  font-size: 0.8571rem;
}
li,
p {
  font-size: 0.9286rem;
}
ul {
  list-style: none;
  padding: 0px;
  line-height: 1.3;
}
.fs-md {
  font-size: 1.143rem !important;
}
#box3,
#box4 {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  margin-left: 1.8px;
}
#box3 {
  background: #fff;
  padding: 1.143rem 1.214rem;
}
#box4 {
  background: #f5f5f5;
  font-size: 1.714rem;
}
.fs13 {
  font-size: 1.714rem;
}

.fs13,
.fs20 {
  color: #333;
  font-family: Rubik-Medium;
}
#promobox {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 1px dashed #02cb66;
  padding: 3px 10px;
  color: #02cb66;
  font-size: 12px;
  font-family: Rubik-Medium;
}
.fs14 {
  font-size: 1rem;
  color: #333;
}
.fs10,
.fs14 {
  font-family: Rubik-Medium;
}
.fs-18 {
  font-size: 1.286rem;
}
.box-title {
  margin: 0 0 0.7143rem;
  padding: 0;
  font-size: 1.429rem;
  -webkit-text-decoration: double;
  text-decoration: double;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-family: "Rubik-Medium";
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.fs10 {
  font-size: 1.429rem;
}
.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.promo-applied-icon {
  color: #36c246;
  font-size: 15px;
}
.fs12,
.sh1 {
  font-family: Rubik-Medium;
}
.fs12 {
  font-size: 1.25rem;
  color: #333;
}
#flight,
#payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
#fs13,
#fs20 {
  color: #333;
  font-family: Rubik-Medium;
}

#fs20 {
  font-size: 0.847rem;
  padding: 0;
}
#flight {
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}
#fs18 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}
#detail {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}
#fs16 {
  font-size: 0.7857rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
.dropdownLogin {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hoverLogin {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
  text-align: left;
}
.profileHover {
  background-color: #e0e0e0;
}
.color-light {
  color: hsla(0, 0%, 100%, 0.7);
}
.fs-11 {
  font-size: 0.78571rem;
}
.leftpanel {
  background-color: #b7b7b7;
  border-left: 1px solid #e2e2e2;
  border-right-width: 0;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
}
.row-tab {
  cursor: pointer;
  color: #fff;
  padding-top: 2px;
  background-color: #383f45;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  font: inherit;
  font-size: 13px;
}
.row-tab-selected {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  font: inherit;
  padding-top: 2px;
  font-size: 13px;
}

.row-tab-selected,
.row-tab:hover {
  color: #fff;
  background-color: #f34f4f;
}
.footer-icon-p {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 3px 7px;
  color: #999;
  cursor: pointer;
}
.copyright,
.icons {
  padding: 20px 0 10px;
}

.icons {
  border-bottom: 1px solid #e3e6ea;
  border-top: 1px solid #e3e6ea;
  margin-top: 0;
  background: #f0f3f5;
}
.icon-footer {
  margin-right: 10px;
  margin-left: 10px;
}
.icon-f {
  font-size: 25px;
  color: #2851a3;
}
.icon-t {
  font-size: 25px;
  color: #1da1f2;
}
.icon-y {
  font-size: 25px;
  color: red;
}
.copyright {
  width: 100%;
  clear: both;
  background-color: #fff;
}
.eCashHover {
  color: red;
}
